/* PSEUDO CLASSES

:active - quando o elemento está ativo, ou seja , está sendo pressionado
:visited - seleciona o link que foi visitado
:hover - quando o mouse passe em cima do elemento
:checked - usado em radio / checkbox / select
:disabled - elemento desabilitado / button / input
:enabled - elemento está habilitado
:focus - é aplicado quando um elemento recebe foco, o que pode ocorre quando o usuário seleciona o elemento
:read-only - seleciona input ou textarea que são apenas leitura
:empty - elemento que não tem filho

:first-child - primeiro filho / ex: primeira li de uma ul /primera spande uma div
:first-of-type - primero elemento de seu tipo entre os filhos de seu elemento pai.
:last-child - útimo filho
:last-of-type - último elemento de seu tipo entre os filhos de seu elemento pai
:not() - estiliza os elementos, exceto o que está dentro do ()
:nth-child() - seleciona o elemento baseado na sua posição de trás para frente.
:nth-last-child() - seleciona o elemento baseado na sua posição, contando de trás para frente.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100px;
    width: 100px;
    background: red;
}

.container:empty {
    background: 
    blue;
}